.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorInherit {
    outline: none;
}

.Component-horizontalScrollContainer-15>div>div::-webkit-scrollbar-thumb {
    background: rgba(30,171,255,1);
}

.edit {
    color: #133671;
}

.delete {
    color: #ea0303;
}